.container{
    display: flex;
    flex-direction: column;
}

h1{
    color: white;
}
.header{
 width: 100%;
//  height: 20%;
height: 48px;
 background-color: #262626;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}

.app-name{
color:  #FFFFFF;
font: Bold 12px Brandon Grotesque;
}

.login{
    width: 100%;
    height: 711px;
    background-color: #F7F7F7;
}

.login-details
{
   width: 80%;
   height: 672px;
   margin: 0 auto;
   background-color: #FFFFFF;
}

.login-heading{
color: #111111;
font: Bold 16px/30px Brandon Grotesque;
}